//colors
$w-color: #fff;
$b-color: #333;
//fonts
$sans-font: "Open Sans", sans-serif;
// media width
$max-xs: "max-width: 575.98px";
$min-sm: "min-width: 576px";
$max-sm: "max-width: 575.98px";
$min-md: "min-width: 768px";
$max-md: "max-width: 767.98px";
$min-lg: "min-width: 992px";
$max-lg: "max-width: 991.98px";
$min-xl: "min-width: 1200px";
$max-xl: "max-width: 1199.98px";
